.menu {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px 20px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.logo-text-green {
  color: green;
}

.logo-text-orange {
  color: orange;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: #888;
  text-decoration: none;
  font-size: 16px;
}

.nav-link.active {
  color: orange;
  font-weight: bold;
  border: none; 
}

.menu-icon {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
}
